body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 40%;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #bbb;
}

input {
    width: 80%;
    padding: 10px;
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
